<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Area</div>
      <div class="panel-body">
        {{c3-chart color=pattern data=data_area}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Line</div>
      <div class="panel-body">
        {{c3-chart color=pattern data=data_line}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Bar</div>
      <div class="panel-body">
        {{c3-chart color=pattern data=data_bar}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Pie</div>
      <div class="panel-body">
        {{c3-chart color=pattern data=data_pie}}
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Donut</div>
      <div class="panel-body">
        {{c3-chart color=pattern data=data_donut}}
      </div>
    </div>
  </div>
</div>
