<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{c3-chart data=data_pie}}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{c3-chart data=data_donut}}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{c3-chart data=data_area}}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{c3-chart data=data_line}}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
<div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{c3-chart data=data_bar}}
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>


